# Node
node_modules
npm-debug.log*
yarn-error.log*
package-lock.json

# Next.js / Vercel
.next
.out
.vercel
.DS_Store

# Env
.env

# Python cache
**/__pycache__/
*.py[cod]

# Scrapy dumps
crawler/*.json

# VS Code project settings (念のため)
.vscode/
